<p>pantalla-despacho-tienda works!</p>
<body>
  <div class="divcontainer horizontal-scrollable">
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>cliente</th>
          <th class="col-auto">104</th>
          <th>105</th>
          <th>106</th>
          <th>107</th>
          <th>108</th>
          <th>109</th>
          <th>Total</th>
          <th>Cajas</th>
          <th>Menudo</th>
          <th>CAJAS</th>
          <th>TOTAL</th>
          <th>PIO</th>
          <th>cliente</th>
          <th>104</th>
          <th>105</th>
          <th>106</th>
          <th>107</th>
          <th>108</th>
          <th>109</th>
          <th>Total</th>
          <th>menudo</th>
          <th>CAJA</th>
          <th>TOTAL</th>
          <th>PESOS</th>
          <th>AD</th>
          <th>TOTAL</th>

          <th>Riquipollo</th>
          <th>cliente</th>
          <th>104</th>
          <th>105</th>
          <th>106</th>
          <th>107</th>
          <th>108</th>
          <th>109</th>
          <th>Total</th>
          <th>menudo</th>
          <th>CAJA</th>
          <th>TOTAL</th>
          <th>PESOS</th>
          <th>AD</th>
          <th>TOTAL</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="col-sm-1">
            Reynaldo
          </th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>-</td>
          <td>-</td>
          <th>Reynaldo</th>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <th>ruben</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>60</td>
          <td>180</td>
          <td>24</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>264</td>
          <td>22</td>
          <td>44.88</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>44.88</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>ruben</th>
          <td>0</td>
          <td>0</td>
          <td>5</td>
          <td>15</td>
          <td>2</td>
          <td>0</td>
          <td>22</td>
          <td>44.88</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>44.88</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>1.1</td>
          <td>1.1</td>
        </tr>
        <tr>
          <th>Basilio</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>120</td>
          <td>420</td>
          <td>60</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>600</td>
          <td>50</td>
          <td>102</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>102</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>Basilio</th>
          <td>0</td>
          <td>0</td>
          <td>10</td>
          <td>35</td>
          <td>5</td>
          <td>0</td>
          <td>50</td>
          <td>102</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>102</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>2.5</td>
          <td>2.5</td>
        </tr>
        <tr>
          <th>Javier</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>180</td>
          <td>360</td>
          <td>72</td>
          <td>60</td>
          <td>672</td>
          <td>56</td>
          <td>114.24</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>114.24</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>Javier</th>
          <td>0</td>
          <td>0</td>
          <td>15</td>
          <td>30</td>
          <td>6</td>
          <td>5</td>
          <td>56</td>
          <td>114.24</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>114.24</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>2.8</td>
          <td>2.8</td>
        </tr>
        <tr>
          <th>Gonzalo</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>60</td>
          <td>108</td>
          <td>72</td>
          <td>12</td>
          <td>252</td>
          <td>21</td>
          <td>42.84</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>42.84</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>Gonzalo</th>
          <td>0</td>
          <td>0</td>
          <td>5</td>
          <td>9</td>
          <td>6</td>
          <td>1</td>
          <td>21</td>
          <td>42.84</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>42.84</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>1.05</td>
          <td>1.05</td>
        </tr>
        <tr>
          <th>Raul</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>120</td>
          <td>360</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>480</td>
          <td>40</td>
          <td>81.6</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>81.6</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>Raul</th>
          <td>0</td>
          <td>0</td>
          <td>10</td>
          <td>30</td>
          <td>0</td>
          <td>0</td>
          <td>40</td>
          <td>81.6</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>81.6</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>2</td>
          <td>2</td>
        </tr>
        <tr>
          <th>carmen</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>36</td>
          <td>60</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>96</td>
          <td>8</td>
          <td>16.32</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>16.32</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>carmen</th>
          <td>0</td>
          <td>0</td>
          <td>3</td>
          <td>5</td>
          <td>0</td>
          <td>0</td>
          <td>8</td>
          <td>16.32</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>16.32</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0.4</td>
          <td>0.4</td>
        </tr>
        <tr>
          <th>Zulma</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>96</td>
          <td>144</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>240</td>
          <td>20</td>
          <td>40.8</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>40.8</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>Zulma</th>
          <td>0</td>
          <td>0</td>
          <td>8</td>
          <td>12</td>
          <td>0</td>
          <td>0</td>
          <td>20</td>
          <td>40.8</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>40.8</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>1</td>
          <td>1</td>
        </tr>
        <tr>
          <th>tomasa</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>36</td>
          <td>84</td>
          <td>48</td>
          <td>12</td>
          <td>180</td>
          <td>15</td>
          <td>30.6</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>30.6</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>tomasa</th>
          <td>0</td>
          <td>0</td>
          <td>3</td>
          <td>7</td>
          <td>4</td>
          <td>1</td>
          <td>15</td>
          <td>30.6</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>30.6</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0.75</td>
          <td>0.75</td>
        </tr>
        <tr>
          <th>abraham</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>48</td>
          <td>84</td>
          <td>24</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>156</td>
          <td>13</td>
          <td>26.52</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>26.52</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>abraham</th>
          <td>0</td>
          <td>0</td>
          <td>4</td>
          <td>7</td>
          <td>2</td>
          <td>0</td>
          <td>13</td>
          <td>26.52</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>26.52</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0.65</td>
          <td>0.65</td>
        </tr>
        <tr>
          <th>Ignacio</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>84</td>
          <td>96</td>
          <td>60</td>
          <td>24</td>
          <td>264</td>
          <td>22</td>
          <td>44.88</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>44.88</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>Ignacio</th>
          <td>0</td>
          <td>0</td>
          <td>7</td>
          <td>8</td>
          <td>5</td>
          <td>2</td>
          <td>22</td>
          <td>44.88</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>44.88</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>1.1</td>
          <td>1.1</td>
        </tr>
        <tr>
          <th>Milo</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>36</td>
          <td>144</td>
          <td>60</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>240</td>
          <td>20</td>
          <td>40.8</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>40.8</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>Milo</th>
          <td>0</td>
          <td>0</td>
          <td>3</td>
          <td>12</td>
          <td>5</td>
          <td>0</td>
          <td>20</td>
          <td>40.8</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>40.8</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>1</td>
          <td>1</td>
        </tr>
        <tr>
          <th>Moran</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>120</td>
          <td>360</td>
          <td>120</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>600</td>
          <td>50</td>
          <td>102</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>102</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>Moran</th>
          <td>0</td>
          <td>0</td>
          <td>10</td>
          <td>30</td>
          <td>10</td>
          <td>0</td>
          <td>50</td>
          <td>102</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>102</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>2.5</td>
          <td>2.5</td>
        </tr>
        <tr>
          <th>Mariela</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>24</td>
          <td>36</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>60</td>
          <td>5</td>
          <td>10.2</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>10.2</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>Mariela</th>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>2</td>
          <td>3</td>
          <td>0</td>
          <td>5</td>
          <td>10.2</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>10.2</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0.25</td>
          <td>0.25</td>
        </tr>
        <tr>
          <th>Remberto</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>120</td>
          <td>192</td>
          <td>60</td>
          <td>12</td>
          <td>384</td>
          <td>32</td>
          <td>65.28</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>65.28</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>Remberto</th>
          <td>0</td>
          <td>0</td>
          <td>10</td>
          <td>16</td>
          <td>5</td>
          <td>1</td>
          <td>32</td>
          <td>65.28</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>65.28</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>1.6</td>
          <td>1.6</td>
        </tr>
        <tr>
          <th>Grover</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>60</td>
          <td>84</td>
          <td>24</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>168</td>
          <td>14</td>
          <td>28.56</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>28.56</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>Grover</th>
          <td>0</td>
          <td>0</td>
          <td>5</td>
          <td>7</td>
          <td>2</td>
          <td>0</td>
          <td>14</td>
          <td>28.56</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>28.56</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0.7</td>
          <td>0.7</td>
        </tr>
        <tr>
          <th>morelia</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>12</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>12</td>
          <td>1</td>
          <td>2.04</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>2.04</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>morelia</th>
          <td>0</td>
          <td>0</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>1</td>
          <td>2.04</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>2.04</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0.05</td>
          <td>0.05</td>
        </tr>
        <tr>
          <th>Jhasmany</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>24</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>12</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>36</td>
          <td>3</td>
          <td>6.12</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>6.12</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>Jhasmany</th>
          <td>0</td>
          <td>0</td>
          <td>2</td>
          <td>0</td>
          <td>1</td>
          <td>0</td>
          <td>3</td>
          <td>6.12</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>6.12</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0.15</td>
          <td>0.15</td>
        </tr>
        <tr>
          <th>waldo</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>24</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>24</td>
          <td>2</td>
          <td>4.08</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>4.08</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>waldo</th>
          <td>0</td>
          <td>0</td>
          <td>2</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>2</td>
          <td>4.08</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>4.08</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0.1</td>
          <td>0.1</td>
        </tr>
        <tr>
          <th>rene</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>60</td>
          <td>24</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>84</td>
          <td>7</td>
          <td>14.28</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>14.28</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>rene</th>
          <td>0</td>
          <td>0</td>
          <td>5</td>
          <td>2</td>
          <td>0</td>
          <td>0</td>
          <td>7</td>
          <td>14.28</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>14.28</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0.35</td>
          <td>0.35</td>
        </tr>
        <tr>
          <th>eyna</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>24</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>24</td>
          <td>2</td>
          <td>4.08</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>4.08</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>eyna</th>
          <td>0</td>
          <td>0</td>
          <td>2</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>2</td>
          <td>4.08</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>4.08</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0.1</td>
          <td>0.1</td>
        </tr>
        <tr>
          <th>mario</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>18</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>18</td>
          <td>1.5</td>
          <td>3.06</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>3.06</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>mario</th>
          <td>0</td>
          <td>0</td>
          <td>1.5</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>1.5</td>
          <td>3.06</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>3.06</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0.075</td>
          <td>0.075</td>
        </tr>
        <tr>
          <th>valeria</th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>30</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>30</td>
          <td>2.5</td>
          <td>5.1</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>5.1</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <th>valeria</th>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>2.5</td>
          <td>0</td>
          <td>0</td>
          <td>2.5</td>
          <td>5.1</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>5.1</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0.125</td>
          <td>0.125</td>
        </tr>
        <tr>
          <th></th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <th></th>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0</td>
          <td class="col-sm-1">
            <input class="col-sm-12 col-auto form-control text--center" placeholder="0.0" />
          </td>
          <td>0</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
