<!--wrapper-->
<div class="wrapper">
	<div class="authentication-header"></div>
	<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
		<div class="container-fluid">
			<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
				<div class="col mx-auto">
					<div class="mb-4 text-center">
						<img src="assets/images/logo-img.png" width="180" alt="" />
					</div>
					<div class="card">
						<div class="card-body">
							<div class="p-4 rounded">
								<div class="text-center">
									<h3 class="">Iniciar Sesion</h3>
<!--									<p><a href="JavaScript:;" (click)="onSignup()">Registrate aqui</a></p>-->
								</div>
<!--								<div class="d-grid">-->
<!--									<a class="btn my-4 shadow-sm btn-white" href="#" (click)="$event.preventDefault()"> <span class="d-flex justify-content-center align-items-center">-->
<!--										<img class="me-2" src="assets/images/icons/search.svg" width="16" alt="Image Description">-->
<!--										<span>Sign in with Google</span>-->
<!--										</span>-->
<!--									</a> <a href="#" (click)="$event.preventDefault()" class="btn btn-facebook"><i class="bx bxl-facebook"></i>Sign in with Facebook</a>-->
<!--								</div>-->
								<div class="login-separater text-center mb-4"> <span>Introduzca sus credenciales</span>
									<hr/>
								</div>
								<div class="form-body">
									<form class="row g-3"
                      (ngSubmit)="userLogin()">
										<div class="col-12">
											<label for="userId" class="form-label">Usuario / Correo</label>
											<input type="email"
                             [(ngModel)]="user.userId"
                             class="form-control"
                             id="userId"
                             name="userId"
                             placeholder="user@gmail.com">
										</div>
										<div class="col-12">
											<label for="password" class="form-label">Contraseña / Password</label>
											<div class="input-group" id="show_hide_password">
												<input type="password"
                               [(ngModel)]="user.password"
                               class="form-control border-end-0"
                               id="password"
                               name="password"
                               value="12345678"
                               placeholder="Digite su contraseña"> <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-check form-switch">
												<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
												<label class="form-check-label" for="flexSwitchCheckChecked">Recuerdame</label>
											</div>
										</div>
										<div class="col-md-6 text-end">	<a href="JavaScript:;" (click)="onForgotpassword()">Olvido su contraseña ?</a>
										</div>
										<div class="col-12">
											<div class="d-grid">
												<button type="submit" class="btn btn-primary"><i class="bx bxs-lock-open"></i>Iniciar Sesion</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end row-->
		</div>
	</div>
</div>
<app-toast></app-toast>
<!--end wrapper-->
