<p>compra works!</p>
<h4>Pollo sofia</h4>
<div class="form-check">

  <label class="form-check-label" for="flexCheckChecked">
    Pollo 104
    Precio por kilo: <input type="text">
    Cantidades en unidad: <input type="text">
  </label>
</div>
<div class="form-check">

  <label class="form-check-label" for="flexCheckDefault">
    Pollo 105
    Precio por kilo: <input type="text">
    Cantidades en unidad: <input type="text">
  </label>
</div>
<div class="form-check">

  <label class="form-check-label" for="flexCheckChecked">
    Pollo 106
    Precio por kilo: <input type="text">
    Cantidades en unidad: <input type="text">
  </label>
</div>
<div class="form-check">

  <label class="form-check-label" for="flexCheckDefault">
    Pollo 107
    Precio por kilo: <input type="text">
    Cantidades en unidad: <input type="text">
  </label>
</div>
<div class="form-check">

  <label class="form-check-label" for="flexCheckChecked">
    Pollo 108
    Precio por kilo: <input type="text">
    Cantidades en unidad: <input type="text">
  </label>
</div>
<div class="form-check">

  <label class="form-check-label" for="flexCheckChecked">
    Pollo 109
    Precio por kilo: <input type="text">
    Cantidades en unidad: <input type="text">
  </label>
</div>
<button type="button" class="btn btn-outline-primary px-5">Guardar Precio por kilos</button>
<br>
<div>
  Canastillas recepcionadas
  <input type="text">
  <button> Guardar Canastillas</button>
</div>
